@import "~/styles/partials/config";

.planList {
  .planBox {
    text-align: center;

    padding: 1.5rem 0.5rem;
    margin-right: 1.6rem;
    min-height: 8.6rem;

    @include mobile {
      margin-right: 0;
    }

    .sbTitle {
      font-size: text(lg);
      font-weight: 600;
      margin-top: 1rem;
      margin-bottom: 0.7rem;
      color: color(background);
    }
    .sbText {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6;
      color: color(gray-light);
    }

    .icons {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 0.3rem;
      font-size: 1.875rem;
      color: color(foreground);
      background-color: color(border-foreground);
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}
