@import "~/styles/partials/config";
.banner {
  width: 100%;
  position: relative;
  background-image: url("../../public/404.jpeg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(
      85deg,
      rgba(26, 44, 121, 0.8) 30%,
      rgba(232, 5, 102, 0.9) 100%
    );
  }

  .heroText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-align: center;
    max-width: 55rem;

    .displayHead {
      @include mobile {
        font-size: 1.875rem;
      }
      font-size: 14.375rem;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 0.7rem;
      color: color(foreground);
    }
    .displayHeadTwo {
      @include mobile {
        font-size: 1.875rem;
      }
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.3;
      margin-bottom: 0.7rem;
      color: color(foreground);
    }

    .leadText {
      @include mobile {
        font-size: 1rem;
      }
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 0.7rem;
      color: color(foreground);
    }
    .homeBtn {
      margin-top: 1rem;
      button {
        border: 1px solid color(foreground);
        padding: 0.7rem 1.75rem;
        font-size: 0.9375rem;
        border-radius: 0.3rem;
        font-weight: 400;
        color: color(foreground);
        &:hover {
          color: color(background);
          background-color: color(foreground);
        }
      }
    }
  }
}
