@import "~/styles/partials/config";

.sideNav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: #1c2765ed;
  overflow-x: hidden;
  padding-top: 1.25rem;
  padding: 1.25rem;
  .form {
    margin-top: 1.875rem;
  }
  .eyeInput {
    position: relative;
    display: flex;
    .eyePass {
      display: flex;
      align-items: center;
      svg {
        position: absolute;
        color: black;
        right: 0;
        cursor: pointer;
        margin-right: 12px;
      }
    }
  }
}
