@import "~/styles/partials/config";

.agencyMain {
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: color(background-soft-light);
  .subscribeContent {
    h3 {
      font-size: 1.75rem;
      color: color(background);
      font-weight: 600;
    }
    p {
      color: color(gray-light);
    }
  }
  .actionButton{
    text-align: right;
    button{
      color: #ffffff;
    background-color: color(background-dark-navy);
    border-color: color(background-dark-navy);
    padding: 0.7rem 1.75rem;
    font-size: 0.9375rem;
    }
  }
}
